{% extends "asosiy/base.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}

  <div class="container-fluid">
    <div class="row flex-nowrap">

      {% include "asosiy/sidebar.html" %}

      <!-- content -->
      <div class="col">
        
        <div class="row mx-3 px-2">
          <h1 class="text-center my-5">Mavzu qo`shish</h1>

          <div class="row py-2">
            <h2>{{ test.savol }}</h2>
            <form method="post">
                {% csrf_token %}

                {% bootstrap_form form %}
                <button type="submit">Submit</button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>

   

{% endblock %}