{% extends "asosiy/base.html" %}
{% load static %}


{% block title %}Bosh sahifa{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col py-4">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                <div class="col">
                    <div class="card h-100 text-center shadow-sm border-0">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-vial-virus fa-4x text-primary mb-3"></i>
                            <h4 class="card-title mb-2">Mavzular</h4>
                            <a href="{% url 'teacher_mavzular' %}" class="btn btn-outline-primary mt-2">Mavzular</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center shadow-sm border-0">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-envelope-open-text fa-4x text-success mb-3"></i>
                            <h4 class="card-title mb-2">Testlar</h4>
                            <a href="{% url 'teacher_testlar' %}" class="btn btn-outline-success mt-2">Testlar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center shadow-sm border-0">
                        <div class="card-body d-flex flex-column align-items-center justify-content-center">
                            <i class="fa-solid fa-square-poll-vertical fa-4x text-warning mb-3"></i>
                            <h4 class="card-title mb-2">Natijalar</h4>
                            <a href="{% url 'teacher_natijalar' %}" class="btn btn-outline-warning mt-2">Natijalar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}